<html>
  <head>
    <title>Upload Bulk Updates</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <input type="file" name="updatefile"></input>
      <input type="submit" value="Submit"></input>
    </form>
  </body>
</html>
